body {
  background-color: #FFFFFF;
font-family: 'Open Sans', sans-serif;
#  font-size: 10pt;
  margin-left: 1cm;
  margin-right: 1cm;
  margin-top: 0.5cm;
#  border-top: solid 0.1cm #EEEEEE;
#  border-bottom: solid 0.1cm #EEEEEE;
#  border-left: solid 1cm #FFFFFF;
}

h1 {
#  font-family: verdana;
#  font-size: 15pt;
  color: #446644;
}

h3 {
#  font-family: verdana;
 font-size: 20pt;
  margin-top: 0.3cm;
  margin-bottom: 0.3cm;
 # color: #554444;
  color: 5D5C61;
}

table {
#  font-family: verdana;
#  font-size: 10pt;
}

p {
#  font-family: verdana;
#  font-size: 10pt;
  margin-left: 1cm;
  margin-right: 1cm;
  margin-top: 0cm;
  margin-bottom: 0.2cm;
}

b {
#font-family: 'Arvo', serif;
color: #2E1114;
font-size: 13pt;
}
#arxiv {
color: #379683;
}

#title {
font-size: 15pt;
}

#advisor{
color: 501B1D;
font-weight: bold;
}

#coauthor{
color: 5D5C61;

}

#paperlink{
font-size: 13pt;
color: 557A95;
font-weight: bold;
}


a:link{
text-decoration: none;
}

a:hover {
text-decoration: underline;
}


